<%= form_for(@microgroup) do |f| %>
  <%= bootstrap_error_messages! f.object %>

  <div class="field scaffolds">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field scaffolds">
    <%= f.label :description %><br />
    <%= f.text_area :description, rows: 10 %>
  </div>
  <div class="actions scaffolds">
    <%= f.submit %>
  </div>
<% end %>
