<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Summary</li>
    <li class="active"><a href="#">微群首页</a></li>
    <li><%= link_to "微群风云榜", '#' %></li>
    <li><%= link_to "消息中心", '#' %></li>
    <li class="nav-header">My Microgroups</li>
    <li><%= link_to "Index", '#' %></li>
    <li><%= link_to "New", '#' %></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li class="nav-header">Tags</li>
    <li><%= link_to "Index", '#' %></li>
    <li><%= link_to "New", '#' %></li>
    <li><a href="#">Link</a></li>
  </ul>
</div><!--/.well -->
