<% @user ||= current_user %>
<div class="stats">
  <table>
    <tr>
      <td>
        <a href="<%= user_path(@user) %>">
          <span id="microposts_count" class="stat">
            <%= @user.microposts.count %> <%= t('.microposts') %>
          </span>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="<%= followees_user_path(@user) %>">
          <span id="followees" class="stat">
            <%= @user.followees.count %> <%= t('.following') %>
          </span>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="<%= followers_user_path(@user) %>">
          <span id="followers" class="stat">
            <%= pluralize(@user.followers.count, t('.follower')) %>
          </span>
        </a>
      </td>
    </tr>
  </table>
</div>
