<p>
<%= image_tag(@user.gravatar) %>
</p>

<%= render 'follow_form' if user_signed_in? %>

<p>
  <b><%= t('.name') %>:</b>
  <%= @user.nickname %>
</p>

<p>
  <b><%= t('.email') %>:</b>
  <%= @user.email %>
</p>

<p>
  <b>Gravatar:</b>
  <%= @user.gravatar %>
</p>

<p>
<%= render 'follow_status' %>
</p>


<%= link_to_if is_current_user?(@user), 'Edit', edit_user_registration_path(@user) %> |
<%= link_to 'Back', users_path %>
