<div class="content">

  <p>
  <%= image_tag(@user.gravatar, size: "150x150") %>
  <%= render 'micropost_form' %>
  </p>

  <hr>

  <div class="row">
    <div class="span8">
      <% if @microposts.any? %>
        <table class='table-microposts table'>
          <!-- below code doesn't work:
          render @microposts -->
          <%= render :partial => 'micropost', :collection => @microposts %>
        </table>
        <%= will_paginate(@microposts, inner_window: 1, outer_window: 1) %>
      <% end %>
    </div>

    <div class="span1">&nbsp;</div>

    <div class="span3">
      <%= render 'user_info' %>
    </div>
  </div>

</div>
