<div class="content">

<div class="hero-unit">
  <h1>MAC OS X</h1>
  <p>Mac OS X is based upon the Mach kernel. Certain parts from FreeBSD's and NetBSD's implementation of Unix were incorporated in NeXTSTEP, the core of Mac OS X.
  OS X Lion is the most technologically advanced operating system Apple has ever released. While there's a lot of powerful stuff going on under the hood, Lion makes it easy for you to work, play, and get entertainment on your Mac.</p>
  <p><a class="btn btn-primary btn-large" href= <%= new_user_registration_path %> >Sign up &raquo;</a></p>
</div>

  <div class="row">
    <div class="span3">
      <p><b>这些人正在用微博</b></p>
      <p>
      <% unless @recent_users.empty? %>
        <% @recent_users.each do |user| %>
          <%= link_to(image_tag(user.gravatar, size: "40x40"), user) %>
        <% end %>
      <% end %>
      </p>
      <hr>
      <h2>Most Forked</h2>
      <p> FreeBSD® is an advanced operating system for modern server, desktop, and embedded computer platforms. FreeBSD's code base has undergone over thirty years of continuous development, improvement, and optimization.</p>
      <p><a class="btn" href="http://www.freebsd.org">View Details &raquo;</a></p>
    </div>

    <div class="span6">
      <p><b>大家正在说</b></p>
      <hr>
      <p>
      <% if @recent_microposts.any? %>
        <table class='microposts'>
          <!-- below code doesn't work:
          render @microposts -->
          <%= render :partial => '/users/micropost', :collection => @recent_microposts %>
        </table>
      <% end %>
      </p>

    </div>

    <div class="span3">
      <p><h3>关注度 TOP 10</h3></p>
      <hr>
      <% if @top10_users.any? %>
        <table class='table table-condensed'>
          <%= render :partial => 'top10_user', object: @user, :collection => @top10_users %>
        </table>
      <% end %>
      <p><%= flash[:notice] %></p>
    </div>
  </div>

</div>
