<h1><%=t '.hello' %></h1>
<p><%= flash[:notice] %></p>

<%= form_tag root_path, class: 'locale' do %>
  <%= select_tag 'set_locale', 
    options_for_select(LANGUAGES, I18n.locale.to_s),
    onchange: 'this.form.submit()'
  %>
  <%= submit_tag 'submit' %>
  <%= javascript_tag "$('.locale input').hide()" %>
<% end %>
