<% ge = grit_entry_status(entry) %>
<tr>
  <% icon_file = ge.is_tree? ? 'dir.png' : 'txt.png' %>
  <td><%= image_tag icon_file, :alt => 'entry icon' %></td>
  <td>
    <% if ge.is_tree? %>
      <%= link_to grit_entry_basename(entry), tree_project_path(@project, 'tree', grit_entry_path(entry)), {id: 'codetree', remote: true } %>
    <% else %>
      <%= link_to grit_entry_basename(entry), blob_project_path(@project, 'blob', grit_entry_path(entry)), {id: 'codetree', remote: true } %>
    <% end %>
  </td>
  <td><%= ge.size %></td>
  <td><%= ge.date %></td>
</tr>
