<%= form_for(@project) do |f| %>
  <%= render "shared/bootstrap_error_messages", object: f.object %>
  <div class="scaffolds" %>
    <%= render "shared/form_error_messages", object: f.object %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, rows: 10 %>
  </div>
  <div class="field">
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </div>
  <div class="field">
    <%= f.label :gravatar %><br />
    <%= f.text_field :gravatar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
