<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Projects Tagged</li>
    <li><span class="label">Default</span></li>
    <li><span class="label label-success">Success</span></li>
    <li><span class="label label-warning">Warning</span></li>
    <li><span class="label label-important">Important</span></li>
    <li><span class="label label-info">Info</span></li>
    <li><span class="label label-inverse">Inverse</span></li>

    <li class="nav-header">Related Tags</li>
    <li class="active"><span class="label">Default</span></li>
    <li class="active"><span class="label label-success">Success</span></li>
    <li><span class="label label-warning">Warning</span></li>
    <li><span class="label label-important">Important</span></li>
    <li><span class="label label-info">Info</span></li>
    <li><span class="label label-inverse">Inverse</span></li>

    <br />

    <li class="active"><a href="#">Link</a></li>
    <li><%= link_to "Index", '#' %></li>
    <li><%= link_to "Hero", '#' %></li>
    <li><%= link_to "Fluid", '#' %></li>
    <li><%= link_to "Container", '#' %></li>
    <li><%= link_to "Bootstrap", '#' %></li>
  </ul>
</div><!--/.well -->
