<p id="notice"><%= notice %></p>

<%= render 'hero' %>

<br />
<hr>
<br />

<div class="row">
  <div class="span8">
    <!-- project path -->
    <%= render 'path' %>
  </div> <!-- span8 -->

  <% if @blob %>
    <!-- project file -->
    <%= render 'blob' %>
  <% else %>
    <!-- project entry list -->
    <%= render 'tree' %>
  <% end %>
</div> <!-- row -->
