<p id="notice"><%= notice %></p>

<p>
<h3><a href='#'>twitter</a>/<a href='#'><%= @project.name %></a></h3>
</p>

<p>
  <%= image_tag(@project.gravatar, size: "120x120") %>
</p>

<p>
  <b><%= t('.owner') %>:</b>
  <%= @project.owner.nickname %>
</p>

<p>
  <b><%= t('.name') %>:</b>
  <%= @project.name %>
</p>

<p>
  <b><%= t('.description') %>:</b>
  <%= @project.description %>
</p>

<p>
  <b>Path:</b>
  <%= @project.path %>
</p>

<p>
  <b>Group:</b>
  <%= @project.group.name %>
</p>


<%= link_to t('.edit'), edit_project_path(@project) %> |
<%= link_to t('.back'), projects_path %>


<br />
<br />
<ul class="nav nav-pills">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Profile</a></li>
  <li><a href="#">Messages</a></li>
  <li><a href="#">Settings</a></li>
  <li><a href="#">Contact</a></li>
</ul>
<br />

<!-- project path -->
<%= render 'path' %>

<% if @blob %>
<!-- project file -->
<pre class="prettyprint linenums">
  <%= @blob.data %>
</pre>
<script>$(function () { prettyPrint() })</script>
<% else %>
<!-- project entry list -->
<%= render 'tree' %>
<% end %>

<br />
<h4>project</h4>  <%= debug @project %>
