<p id="notice"><%= notice %></p>

<%= render 'hero' %>

<br />
<hr>
<br />


<div class="row">
  <div class="span8">

<!-- project path -->
<%= render 'path' %>

<% if @blob %>
<!-- project file -->
<pre class="prettyprint linenums">
  <%= @blob.data %>
</pre>
<script>$(function () { prettyPrint() })</script>
<% else %>
<!-- project entry list -->
<%= render 'tree' %>
<% end %>

  </div> <!-- span8 -->

  <div class="span4">
    <% if @blob %>
      <% if user_signed_in? %>
        <div id="new_review">
          <%= render 'reviews/form' %>
        </div>
      <% end %>
      <div id="reviews">
        <%= render :partial => 'reviews' %>
      </div>
    <% else %>
      <%= render 'sidebar' %>
    <% end %>

  </div> <!-- span4 -->

</div> <!-- row -->
