<p id="notice"><%= notice %></p>

<p>
<h3><a href='#'>twitter</a>/<a href='#'><%= @project.name %></a></h3>
</p>

<p>
  <%= image_tag(@project.gravatar, size: "120x120") %>
</p>

<p>
  <b><%= t('.owner') %>:</b>
  <%= @project.owner.nickname %>
</p>

<p>
  <b><%= t('.name') %>:</b>
  <%= @project.name %>
</p>

<p>
  <b><%= t('.description') %>:</b>
  <%= @project.description %>
</p>

<p>
  <b>Path:</b>
  <%= @project.path %>
</p>

<p>
  <b>Group:</b>
  <%= @project.group.name %>
</p>


<%= link_to t('.edit'), edit_project_path(@project) %> |
<%= link_to t('.back'), projects_path %>

<br />
<br />
jbr />


<div class="row">
  <div class="span8">

<!-- project path -->
<%= render 'path' %>

<% if @blob %>
<!-- project file -->
<pre class="prettyprint linenums">
  <%= @blob.data %>
</pre>
<script>$(function () { prettyPrint() })</script>
<% else %>
<!-- project entry list -->
<%= render 'tree' %>
<% end %>

  </div> <!-- span8 -->

  <div class="span4">

    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Touchs</li>
        <li class="active"><a href="#">Link</a></li>
        <li><%= link_to "Index", '#' %></li>
        <li><%= link_to "Hero", '#' %></li>
        <li><%= link_to "Fluid", '#' %></li>
        <li><%= link_to "Container", '#' %></li>
        <li><%= link_to "Bootstrap", '#' %></li>
        <li class="nav-header">Projects</li>
        <li><%= link_to "Index", projects_path %></li>
        <li><%= link_to "New", new_project_path %></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </div><!--/.well -->
  </div> <!-- span4 -->

</div> <!-- row -->
