<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<%= will_paginate @posts %>

<table class="table posts">
  <tr>
    <th><%= sortable "title" %></th>
    <th><%= sortable "content" %></th>
    <th><%= link_to "User", :sort => "user_id" %></th>
    <th> </th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td class="title"><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= post.author_name %></td>
    <td>
      <%= link_to 'Show', post %><br />
      <%= link_to_if is_current_user?(post.user), 'Edit', edit_post_path(post) %><br />
      <%= link_to_if is_current_user?(post.user), 'Destroy', post, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate %>
