<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @post.author_name %>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>


<%= link_to_if is_current_user?(@post.user), 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<hr>

<h4>Comments</h4>
<br />
<div id="comments">
    <%= render 'comments' %>
</div>

<hr>

<h4>Add a comment:</h4>
<br />
<div id="new_comment">
  <%= render 'comments/form' %>
</div>
