<tr>
  <td class="actions">
    <% if user_signed_in? %>
      <%= link_to t('.up'), up_review_path(review), class: "btn btn-warning btn-mini", remote: true %>
      <br />
      <h3><%= review.total_points %></h3>
      <%= link_to t('.down'), down_review_path(review), class: "btn btn-danger btn-mini", remote: true %>
    <% else %>
      <%= link_to t('.up'), up_review_path(review), class: "btn btn-warning btn-mini disabled", remote: true %>
      <br />
      <h3><%= review.total_points %></h3>
      <%= link_to t('.down'), down_review_path(review), class: "btn btn-danger btn-mini disabled", remote: true %>
    <% end %>
  </td>
  <td class="gravatar">
    <%= image_tag(review.user.gravatar, size: '50x50') %>
  </td>
  <td class="review">
    <span class="user">
      <%= link_to review.user.nickname, review.user %>
    </span>
    <span class="content"><%= review.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(review.created_at) %> ago.
    </span>
  </td>
  <% if is_current_user? review.user %>
    <td class="actions">
      <%= link_to t('.destroy'), [review.project, review], confirm: t('.are_you_sure'), method: :delete, remote: true %>
    </td>
  <% else %>
    <td class="actions"></td>
  <% end %>
</tr>
