<tr>
  <td class="actions">
    <%= link_to t('.up'), [review.project, review], class: "btn btn-warning btn-mini", method: :delete, remote: true %>
    <br />
    <h3>Score</h3>
    <%= link_to t('.down'), [review.project, review], class: "btn btn-danger btn-mini", method: :delete, remote: true %>
  </td>
  <td class="gravatar">
    <%= image_tag(review.user.gravatar, size: '50x50') %>
  </td>
  <td class="review">
    <span class="user">
      <%= link_to review.user.nickname, review.user %>
    </span>
    <span class="content"><%= review.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(review.created_at) %> ago.
    </span>
  </td>
  <% if is_current_user? review.user %>
    <td class="actions">
      <%= link_to t('.destroy'), [review.project, review], confirm: t('.are_you_sure'), method: :delete, remote: true %>
    </td>
  <% else %>
    <td class="actions"></td>
  <% end %>
</tr>
